{% extends "base.html" %}

{% block title %}کل درخواست ها{% endblock %}
{% block content %}
    <div class="content">
        <h1 class="text-center my-4">درخواست های مرخصی</h1>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="table-responsive table-container overflow-auto">
                    <table class="table table-striped table-hover align-middle text-center">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-nowrap">شناسه</th>
                                <th class="text-nowrap">نام کاربری</th>
                                <th class="text-nowrap">شروع</th>
                                <th class="text-nowrap">پایان</th>
                                <th class="text-nowrap">وضعیت</th>
                                <th class="text-nowrap">دلیل</th>
                                <th class="text-nowrap">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for req in leave_requests %}
                            <tr>
                                <td>{{ req.id }}</td>
                                <td>{{ req.user.username }}</td>
                                <td>{{ req.start_date_shamsi }}</td>
                                <td>{{ req.end_date_shamsi }}</td>
                                <td>
                                    <span class="badge 
                                        {% if req.status == 'approved' %}bg-success
                                        {% elif req.status == 'rejected' %}bg-danger
                                        {% else %}bg-warning text-dark{% endif %}">
                                        {{ req.status }}
                                    </span>
                                </td>
                                <td>{{ req.reason or '-' }}</td>
                                <td>
                                    {% if current_user.role == 'admin' or current_user.role == 'supervisor' or
                                        (current_user.role == 'team_lead' and current_user.team == req.user.team) %}
                                        <a href="/edit-leave-request/{{ req.id }}" class="btn btn-sm btn-warning">
                                            ویرایش
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <button id="export-excel-btn" class="btn btn-success">📥 خروجی اکسل</button>
                    </table>
                    


                </div>
            </div>
        </div>
    </div>

{% endblock %}